.openShopPage {
    background: url("../images/DeliciousFood.jpg");
    padding-top: 20px;
  }

.content {
  background-color: rgba(245, 245, 245, 0.8);
  width: 700px;
  padding: 50px;
  margin: auto;
  border-radius: 30px;
  box-shadow: #8c939d;
}

  .avatar-uploader el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }

  .avatar-uploader el-upload:hover {
    border-color: var(--orange);
  }
  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 178px;
    height: 178px;
    line-height: 178px;
    text-align: center;
  }
  .avatar {
    width: 178px;
    height: 178px;
    display: block;
  }
